.boardContainer {
    margin-top:100px;
    text-align: left;
}

.textBoard {
    width: 100%;
    height: 80vh;
}
.textBoardContainer {
    display: inline-block;
    width: 40%;
    height: 80vh;
    margin-right: 10%;
}
.previewContainer {
    display: inline-block;
    width:40%;
    height:80vh;
    vertical-align: top;
}
.previewContainer h3 {
    margin-bottom:20px;
}
.editor{
    width:100%;
}
.titleInput {
    border:1px 0 1px 0;
    height: 50px;
    width:100%;
}